$color__black: #000;
$color__mine-shaft: #222;
$color__tuna: #3c3d46;
$color__white: #fff;

$color__orange: #ffa500;
$color__red: #ff544b;

// flat colors
$color__clouds: #ecf0f1;

// Inpsyde
$color__inpsyde: #8fb900;
$color__inpsyde--dark: darken($color__inpsyde, 20%);

// Form
$color__description-field: lighten($color__tuna, 30%);
