$color__black: #000;
$color__white: #fff;

$color__tuna: #3c3d46;
$color__mine-shaft: #222;

// flat colors
$color__clouds: #ecf0f1;

// Inpsyde
$color__inpsyde: #8FB900;
$color__inpsyde--dark: darken($color__inpsyde, 20%);


.settings_page_translationmanager {

  // adding the green background.
  #wpcontent:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    min-height: 400px;
    background: $color__inpsyde;
  }

  // sometimes it's very important to use.. !important...
  // we've to use a strong selector to overwrite the WP-default stuff...
  .settings__headline {
    color: $color__white;
    margin: 0;
    padding: 50px 0 !important;
    font-size: 250% !important;
  }

  .inpsyde-logo {
    &__image {
      margin-top: 20px;
      float: right;
    }
  }

  // messages
  .notice, .updated, .error {
    display: inline-block;
  }
}

// tabs
.inpsyde-tabs {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: $color__white;
  max-width: 1000px;

  // the current tab navigation item.
  .ui-tabs-active {
    border-bottom: 3px solid $color__mine-shaft;

    a {
      padding-top: 0;
    }
  }
}

.inpsyde-tab {

  // The Navigation
  &__navigation {
    background: $color__clouds;
    min-height: 75px;
    margin: 0;

    &-item {
      margin-bottom: 0;
      border-bottom: 3px solid transparent;
      font-size: 17px;
      display: inline-block;
      height: 75px;
      line-height: 75px;

      &:hover,
      &:focus {
        border-bottom: 3px solid $color__mine-shaft;
      }

      a {
        color: $color__mine-shaft;
        display: block;
        padding: 0 20px;
        text-decoration: none;
      }
    }
  }

  // The Content
  &__content {
    margin: 25px 20px;
  }
}