@charset "UTF-8";

/* ========================================
 * Admin Menu
 * ===================================== */

.toplevel_page_translationmanager .wp-first-item {
  display: none;
}

/* ========================================
 * Order Info
 * ===================================== */

.translationmanager-order-or-update-projects input[type="submit"] {
  margin-top: .63em;
}

/* ========================================
 * Project Box
 * ===================================== */

.translationmanager-postbox-container {
  float:       right;
  margin-left: 1em;
}

.translationmanager-postbox-container .inside {
  margin:      0;
  padding:     1em;
  padding-top: 0;
  overflow:    hidden;
}

.translationmanager-postbox-container .box-status-title {
  margin-left:  1em;
  margin-right: 1em;
}

/* ========================================
 * Order Info
 * ===================================== */

.translationmanager-order-info {
  margin: 0;
}

.translationmanager-order-info .translationmanager-order-info-item {
  margin:      .63em 0;
  line-height: 1.5;
}

.translationmanager-order-info .translationmanager-order-info-item .dashicons {
  color: #5b5b5b;
}

.translationmanager-order-or-update-projects input[type="submit"] {
  clear: both;
  float: right;
}

/* ========================================
 * Translation Box
 * ===================================== */

.translationmanager-translation-box {
  line-height: 2em;
}

.translationmanager-translation-box .edit-fff-status {
  display: inline;
}

.translationmanager-translation-box .fff-status-select {
  display: none;
}

/* ========================================
 * Form Project Details Info
 * ===================================== */

.translationmanager-project-details-form .actions {
  padding-bottom: 20px;
}

.translationmanager-project-details-form .term-description-wrap {
  margin-bottom: .63em;
}

/* ========================================
 * Form Order Request
 * ===================================== */
.translationmanager-order-or-update-projects .no-projects-found {
  color:      red;
  float:      right;
  max-width:  200px;
  text-align: right;
}
