<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/tests/php/unit/src" />
        <option value="$PROJECT_DIR$/tests/php/integration/src" />
      </list>
    </option>
  </component>
</project>